.App .content .heading .bottom-section .socials{
    display: flex;
    margin-right: 120px;
}

.App .content .heading .bottom-section .socials .share a{
    margin-left: 10px;
    text-decoration: underline;
}
.App .content .heading .bottom-section .socials .save {
    margin-left: 16px;
}

.App .content .heading .bottom-section .socials .save a{
    margin-left: 10px;
    text-decoration: underline;
}
.App .content .heading .bottom-section{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.App .content .images{
    display: flex;
    justify-content: center;
}

.App .content .images .left img{
    width: 550px;
    height: 450px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.App .content .images .left .base{
    display: flex;
    flex-direction: column;
}

.App .content .images .left img:hover{
    background-color: black;
    opacity: 0.7;
}
.App .content .images .right {
    margin-left: 5px;
}
.App .content .images .right  .top{
    display: flex;
    
}
.App .content .images .right .top img:hover{
    background-color: black;
    opacity: 0.7;
}
.App .content .heading {
    padding: 10px 10px;
    
}

.App .content .heading h1{
    margin-left: 150px;
    font-size: 30px;
    
}
.App .content .heading .location a{
    margin-left: 130px;
    text-decoration: underline;
    
}
.App .content .images .right  .top img{
    margin-left: 10px;
    width: 250px;
    
}
.App .content .images .right  .bottom img{
    margin-left: 10px;
    width: 250px;
    margin-top: 10px;
    
}
.App .content .images .right .bottom img:hover{
    background-color: black;
    opacity: 0.8;
}

.App .content .images .right  .bottom{
    display: flex;
    
}

.line{
    margin-top: 30px;
}

.App .content .middle-section{
    padding: 20px 20px;
    position: relative;
}

.App .content .date-picker{
    display: flex;
    justify-content: center;
    align-items: center;
}

.App .content .proceed button{
    background-image: linear-gradient(to right, turquoise, blue);
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    width: 280px;
    color: white;
    font-weight: 700;
    margin-left: 10px;
    
}

.App .content .proceed{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.App .content .date-picker .book-destination button{
    background-image: linear-gradient(to right, turquoise, blue);
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    width: 280px;
    color: white;
    font-weight: 700;
    margin-left: 10px;
    
}

.App .content .middle-section .offer-button{
    margin-left: 150px;
}


.App .content .middle-section .offer-button button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 8px;
}

.App .content .middle-section .offer-button button p{
    font-weight: 600;
    font-size: 16px;
}
.App .content .middle-section .destination-details{
    margin-left: 160px;
    margin-top: 10px;
    padding: 25px 20px;
}

.App .content .middle-section .offer{
    display: flex;
}

.App .content .middle-section .offer .offer-right{
    margin-left: 160px;
    margin-top: 100px;
}

.App .content .middle-section .offer .offer-right .kitchen{
    display: flex;
    margin-top: 15px;
}

.App .content .middle-section .offer .offer-right .kitchen p{
    margin-left: 15px;
}

.App .content .middle-section .offer .offer-right .kitchen .fa-home{
    margin-top: 5px;
}
.App .content .middle-section .offer .packages .kitchen{
    display: flex;
    margin-left: 160px;
    margin-top: 20px;
}

.App .content .middle-section .offer .packages h1{
    font-weight: 700;
    font-size: 25px;
    margin-left: 160px;
    margin-top: 20px;
}

.App .content .middle-section .offer .packages{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.App .content .middle-section .offer .packages .kitchen p{
    margin-left: 13px;
    margin-top: 3px;


}

.App .content .middle-section .offer .packages .kitchen .fa-home{
    margin-top: 7px;


}
.line-up{
    margin-top: 30px;
    margin-left: 120px;
}

.line{
    margin-left: 120px;
}

.App .content .middle-section .right img{
    width: 100px;
    border-radius: 50%;
}
.App .content .middle-section .left .top .features{
    display: flex;
    margin-left: 20px;
}

.App .content .middle-section .left{
    display: flex;
    justify-content: space-between;
    width: 600px;

}

.App .content .middle-section .right{
    float: right;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 970px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    width: 350px;
    height: 510px;
    padding: 50px 30px;

}

.App .content .middle-section .right .amount .tag{
    font-size: 20px;
    font-weight: 700;

}

.App .content .middle-section .right .check-availability{
    margin-top: 70px;
    margin-left: 10px;

}

.App .content .middle-section .right .check-availability button{
    background-image: linear-gradient(to right, turquoise, blue);
    padding: 10px 10px;
    border-radius: 10px;
    width: 280px;

}

.App .content .middle-section .right .check-availability button p{
    color: white;
    font-weight: 700;

}

hr{
  width: 50%;
  height: 10%;
  margin-left: 60px;

}

.App .content .middle-section .right .guests{
    border: 2px solid black;
    width: 280px;
    border-radius: 8px;
    position: absolute;
    top: 174px;
    padding: 4px 5px;
    display: flex;

}

.App .content .middle-section .right .guests .guest-number input{
    margin-left: 30px;

}
.App .content .middle-section .right .guests .guest-number input:focus{
    outline: none;

}


.App .content .middle-section .right .guests .guest-number h6{
    font-size: 12px;
    font-weight: 700;
    margin-left: 35px;

}
.App .content .middle-section .right .guests .dropdown{
    margin-left: 190px;
    margin-top: 10px;

}

.App .content .middle-section .right .guests .dropdown .fa-angle-down{
    font-size: 25px;

}


.App .content .middle-section .right .amount{
    display: flex;

}
.App .content .middle-section .right .total{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 2px solid black;
    width: 280px;
    border-radius: 7px;
    padding: 5px 5px;

}

.App .content .middle-section .right .total .get-total{
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
    

}

.App .content .middle-section .right .total .get-total h2{
    margin-left: 90px;
    

}

.App .content .middle-section .right .total .get-total button{
    background-image: linear-gradient(to right, turquoise, blue);
    padding: 2px 2px;
    border-radius: 10px;
    width: 90px;
    color: white;
    
    

}

.App .content .middle-section .right .total input{
    outline: none;
    width: 200px;
    margin-left: 30px;
    

}

.App .content .middle-section .right .amount .duration{
    margin-top: 5px;

}

.App .content .middle-section .right .checks{
    display: flex;
    margin-top: 5px;
    width: 300px;
    position: relative;
    margin-top: 40px;

}

.App .content .middle-section .right .checks .check-out, .check-in{
    border: 1px solid gray;
    padding: 8px 25px;
    width:  140px;

}
.App .content .middle-section .right .checks  .check-in input:focus{
    outline: none;

}
.App .content .middle-section .right .checks  .check-out input:focus{
    outline: none;

}
.App .content .middle-section .right .checks .check-in input{
    margin-right: 70px;

}

.App .content .middle-section .right .checks .check-out button .add{
    color: gray;

}

.App .content .middle-section .right .checks .check-in button .add{
    color: gray;

}
.App .content .middle-section .right .checks .check-in h6{
    font-size: 10px;
    font-weight: 700;

}
.App .content .middle-section .right .checks .check-out h6{
    font-size: 10px;
    font-weight: 700;

}

.App .content .modal, .modal-overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    
}

.App .content .modal-content{
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: white;
    width: 200px;
    height: 200px;
    padding: 20px 20px;

    
}
.App .content .modal-overlay{
    background: rgba(49, 49, 49, 0.8);

    
}
.App .content .middle-section .left-bottom{
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
    flex-direction: column;

}


.App .content .middle-section .left-bottom .basics .amenities{
    display: flex;

}

.App .content .middle-section .left-bottom .basics .amenities .logo{
    margin-top: 20px;

}

.App .content .middle-section .left-bottom .basics .amenities .logo .fa-home{
    font-size: 30px;

}



.App .content .middle-section .left-bottom .basics .amenities .description{
    margin-left: 25px;
    display: flex;
    flex-direction: column;

}

.App .content .middle-section .left-bottom .basics .amenities .description .heading h2{
    font-size: 19px;
    font-weight: 700;

}

.App .content .middle-section .left-bottom .basics .amenities .description .details p{
    color: gray;
    margin-left: 10px;

}

.App .content .middle-section .left-bottom .basics2{
    position: relative;
    margin-top: 10px;

}

.App .content .middle-section .left-bottom .basics2 .description{
    top: 5px;
    position: absolute;

}

.App .content .middle-section .left-bottom .basics2 .details p{
    color: gray;
    margin-left: 10px;

}

.App .content .middle-section .left-bottom .basics2 .description .heading h2{
    font-size: 19px;
    font-weight: 700;

}
.App .content .middle-section .left-bottom .basics2 .amenities .description{
    margin-left: 60px;
    display: flex;
    flex-direction: column;

}

.App .content .middle-section .left-bottom .basics2 .amenities .logo .fa-home{
    font-size: 30px;
    margin-top: 20px

}


.App .content .middle-section .left-bottom .basics3 .amenities .description{
    margin-left: 60px;
    display: flex;
    flex-direction: column;

}

.App .content .middle-section .left-bottom .basics3 .amenities .logo .fa-home{
    font-size: 30px;
    margin-top: 30px

}

.App .content .middle-section .left-bottom .basics3{
    position: relative;
    margin-top: 25px;

}

.App .content .middle-section .left-bottom .basics3 .description{
    top: 8px;
    position: absolute;

}

.App .content .middle-section .left-bottom .basics3 .details p{
    color: gray;
    margin-left: 10px;

}

.App .content .middle-section .left-bottom .basics3 .description .heading h2{
    font-size: 19px;
    font-weight: 700;

}




.App .content .middle-section .upper{
    display: flex;
    justify-content: space-between;
    width: 850px;

}
.App .content .middle-section .upper .heading h1{
    font-size: 25px;
    font-weight: 700;

}
.App .content .middle-section .upper .img img{
    width: 50px;
    height: 50px;
    border-radius: 70%;
    margin-top: 10px;

}

.App .content .middle-section .left{
    margin-left: 150px;

}
.App .content .middle-section .left .top h1{
    font-size: 20px;
    font-weight: 700;
}

.App .content .middle-section .left .top .features .guest{
    display: flex;
}

.App .content .middle-section .left .top .features .guest li{
    margin-left: 10px;
}
.App .content .middle-section .left .top .features .beds{
    display: flex;
}

.App .content .middle-section .left .top .features .beds li{
    margin-left: 40px;
}
.App .content .middle-section .left .top .features .baths{
    display: flex;
}
.App .content .middle-section .left .top .features .baths li{
    margin-left: 40px;
}
.App .content  .related-data{
    display: flex;
    margin-left: 10px;
}
.App .content .review form{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.App .content .review form input{
    border: 2px solid gray;
    width: 350px;
    margin-top: 20px;
}
.App .content .review form textarea{
    border: 2px solid gray;
    margin-top: 30px;
    width: 350px;
}

.App .content .review{
    margin-top: 50px;
}

.App .content .see-reviews{
    margin-top: 50px;
    margin-left: 70px;
    display: none;
}

.App .content .feedback{
    background-color: white;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    width: 400px;
    margin-left: 50px;
    padding: 5px 5px;
    position: relative;
}

.App .content .feedback .id{
    background-color: blue;
    width: 20px;
    position: absolute;
    left: 0;

}

.App .content .feedback .content{
    margin-top: 30px;

}

.App .content .feedback .content p{
    color: blue;
    font-weight: 800;

}

.App .content .feedback .id h3{
    color: white;
    font-size: 17px;
    font-weight: 800;
    
}
.App .content .review form button{
    background-image: linear-gradient(to right, turquoise, blue);
    width: 180px;
    margin-top: 20px;
    padding: 10px 10px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.App .content .review h1{
    font-size: 20px;
    font-weight: 800;
    margin-left: 90px;
}
.App .content  .related-data h3{
    margin-left: 10px;
}
.App .content  .related-data{
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
}

@media screen and (max-width: 700px){
    .App .content  .related-data{
        margin-left: 40px;
        margin-top: 20px;
    }
    
    .App .content .review{
        margin-left: 10px;
    }
    .App .content .see-reviews{
        margin-top: 30px;
        margin-left: 120px;
        display: none;
    }
    .App .content .review form input{
        border: 2px solid gray;
        width: 180px;
    }
    .App .content .review form textarea{
        border: 2px solid gray;
        width: 200px;
        margin-top: 20px;
        height: 150px;
    }
    .App .content .images{
      display: none;
    }

    .App .content .middle-section .offer .packages .heading{
        margin-left: 5px;
        width: 200px;


    
    }

    .App .content .middle-section .offer .packages .heading h1{
        font-weight: 700;
        font-size: 14px;
        margin-left: 30px;
        margin-top: 10px;
    }

    .App .content .middle-section .offer .packages .kitchen{
        display: flex;
        margin-left: 15px;
        margin-top: 20px;
    }
    .App .content .middle-section .offer .packages .kitchen p{
        font-size: 10px;
    }

    .App .content .middle-section .offer .offer-right .kitchen{
        margin-top: 20px;
    }

    .App .content .middle-section .offer .offer-right{
        margin-left: 10px;
        margin-top: 90px;
    }

    .App .content .middle-section .offer .offer-right .kitchen p{
        font-size: 10px;
    }

    .App .content .middle-section  .offer-button{
        margin-left: 20px;
    }

    .App .content .middle-section  .offer-button button p{
        font-size: 10px;
    }


   

    



    .App .content .heading .bottom-section .socials{
        display: none;
    }

    .App .content .heading .bottom-section .location a{
        margin-left: 100px;
    }

    .App .content .heading h1{
        margin-left: 100px;
        font-size: 20px;
    }

    .App .content .mobile-carousel{
        margin-top: 20px;
    }

    .App .content .middle-section .right{
        display: none;
    }

    .App .content .middle-section .destination-details{
        margin-left: 75px;
    }

    .App .content .middle-section .date-picker{
        display: flex;
        flex-direction: column;
    }

    .App .content .middle-section .destination-details .details p{
        font-size: 10px;
    }

    .line{
        margin-left: 75px;
    }

    .App .content .middle-section .upper{
        display: flex;
        justify-content: space-around;
        width: 270px;
    
    }
    .App .content .middle-section .upper .heading h1{
        font-size: 10px;
        font-weight: 700;
    
    }

    

    .App .content .middle-section .upper .img img{
        width: 30px;
        height: 30px;
    
    }

    .App .content .middle-section .left .top .features .guest li{
        margin-left: 2px;
    
    }

    .App .content .middle-section .left .top .features .beds li{
        margin-left: 30px;
    
    }

    .App .content .middle-section .left .top .features .baths li{
        margin-left: 30px;
    
    }

    .App .content .middle-section .left{
        margin-left: 25px;
    
    }

    .App .content .middle-section .left-bottom{
        margin-left: 25px;
    
    }

    .App .content .middle-section .left-bottom .basics3{
        margin-top: 65px;
    
    }

    

    .App .content .middle-section .left-bottom .basics3 .amenities .description .heading h2{
        font-size: 15px;
    
    }

    .App .content .middle-section .left-bottom .basics3 .amenities .description .details p{
        font-size: 10px;
    
    }

    two


    .App .content .middle-section .left-bottom .basics2 .amenities .logo .fa-home{
        font-size: 20px;
    
    }

    .App .content .middle-section .left-bottom .basics2{
        margin-top: 45px;
    
    }

    .App .content .middle-section .left-bottom .basics2 .amenities .description .heading h2{
        font-size: 15px;
    
    }

    .App .content .middle-section .left-bottom .basics2 .amenities .description .details p{
        font-size: 10px;
    
    }
    
    three
    .App .content .middle-section .left-bottom .basics .amenities .logo .fa-home{
        font-size: 20px;
    
    }

    .App .content .middle-section .left-bottom .basics .amenities .description .heading h2{
        font-size: 15px;
    
    }

    .App .content .middle-section .left-bottom .basics .amenities .description .details p{
        font-size: 10px;
    
    }



    .line-up{
        margin-left: 75px;
    
    }

    .App .content .date-picker{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .App .content .date-picker input{
        width: 130px;
    }

    

    .App .content .date-picker .book-destination button{
        width: 170px;
    }


    .App .content  .proceed button{
        width: 290px;
    }  
}


  @media  only screen and (min-width: 768px){
    .App .content .mobile-carousel{
        display: none;
    }
    
    

    
}
@media screen and (min-width: 992px){
    .App .content .mobile-carousel{
        display: none;
    }
    .App .content .date-picker{
        display: flex;
    }
    
    

    

    
}